@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  line-height: 1.8em;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(250, 250, 250); 
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
  color: white;
}

.background-tint {
  background-color: black;
  background-blend-mode: multiply;
  animation-name: animate1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes animate1 {
  to {
    background-color: white;
  }
}

header section {
  margin: 0 auto;
  font-weight: bold;
  max-width: 640px;
}

header img {
  max-width: 150px;
  border-radius: 50%;
}

h1 {
  margin: 1em 0;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  margin-bottom: 40px;
}

main {
  max-width: 1140px;
}

main section {
  border-bottom: 1px rgb(196, 196, 196) dotted;
}

main section:last-child {
  border-bottom: none;
}

.skill {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.skill .title {
  flex: 10%;
  max-width: 10%;
  text-align: right; 
  color: rgb(16, 70, 133);
  font-weight: bold;
}

.skill .description {
  flex: 85%;
  max-width: 85%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(350px, auto);
  grid-gap: 20px;
  padding-bottom: 30px;
}

.card {
  border: 1px rgb(196, 196, 196) solid;
  border-radius: 5px;
  background-color: white;
}

.card .image {
  margin: 0 15px;
  max-height: 200px;
}

.card .image img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.card p {
  margin: 5px 15px;
  text-align: center;
}

.card h4 {
  text-align: center;
}

.card a {
  text-decoration: none;
  color: rgb(16, 70, 133);
}

.card a:hover {
  font-weight: bold;
}

.card .link {
  margin: 10px auto;
  text-align: center;
}

#languages img {
  float: left;
  margin-right: 3px;
  margin-top: 2px;
}

.bio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bio .title {
  flex: 15%;
  max-width: 15%;
  text-align: right; 
  color: rgb(16, 70, 133);
  font-weight: bold;
}

.bio .description {
  flex: 80%;
  max-width: 80%;
}

.bio .description span {
  font-style: italic;
}

.bio .description a,
.bio .description a:visited {
  text-decoration: none;
  color: black;
  display: block;
  margin: 20px auto;
}

.bio .description a:hover {
  color: gray;
}


footer {
 color: white;
 padding: 1em;
 background-color: rgb(62, 79, 128);
 
}

.copyright {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
}

.copyright p:first-child {
  flex: 3;
}

.copyright p:first-child a {
  color: white;
  font-size: 20px;
  padding: 0 10px;
}

.copyright p:first-child a:visited {
  color: white;
}

.copyright p:first-child a:hover {
  color: grey;
}


.copyright p:nth-child(2) {
  flex: 2;
  text-align: right;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .skill {
    display: block;
  }

  .skill .title {
    text-align: left;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .bio {
    display: block;
  }

  .bio .title {
    text-align: left;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .bio .description a {
    border-left: 1px grey dotted;
    padding-left: 10px;
  }

  footer .copyright {
    flex-direction: column-reverse;
    justify-content: center;
  }

  footer .copyright p:first-child,
  footer .copyright p:nth-child(2) {
    margin: 10px auto;
    flex: 1;
  }
}

